{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<main class="auth-page-wrapper">
  <div class="auth-background">
    <img src="{% static 'img/background/pattern.jpg' %}" alt="Background pattern">
  </div>
  <div class="auth-form-container">
    <div class="auth-container auth-message-box">
      <h1 class="section-title">Check your email</h1>
      <p class="section-text">
        We have sent an email with instructions on how to reset your password.<br>
        If you haven't received the email within a few minutes, check your Spam folder.
      </p>
      <div class="ButtonGroup ButtonGroup--center">
        <a href="{% url 'users:login' %}" class="button button--primary">login page</a>
      </div>
    </div>
  </div>
</main>
{% endblock %}
