{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<main class="auth-page-wrapper">
  <div class="auth-background">
    <img src="{% static 'img/background/pattern.jpg' %}" alt="Background pattern">
  </div>

  <div class="auth-form-container">
    <div class="auth-container auth-message-box">

      <h1 class="section-title mb-6">Password Changed Successfully</h1>
      <p class="section-text mb-6">
        Your password has been updated. You can now sign in with your new password.
      </p>

      <div class="ButtonGroup ButtonGroup--center">
        <a href="{% url 'users:login' %}" class="button button--primary">Login</a>
      </div>

    </div>
  </div>
</main>

{% endblock %}
